---
---
@import "jekflix";

.logo .site-tagline{
  display:block;
  font-size:0.95rem;
  font-weight:400;
  opacity:0.8;
  line-height:1.15;
  margin-top:2px;
}

.logo .site-name{
  display:block;
}
.bar-header .logo a{
  line-height:1.1;
}

.pause {
  max-width: 480px;
  padding: 16px 0;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
